#header-container{

    width: 100%;
    height: 8%;
    /* background-color: #7fffd4; */
/* border-bottom: solid 2px #FF8A00; */
    background-color: #fafafa;
display: flex;
align-items: center;
justify-content: center;
font-family: "Laila", serif;
  font-weight: 500;
  font-style: normal;


}
#div-inner{
  display: flex;
  align-items: center;
  justify-content: start;
  color: #4b4a4a;
  height: 100%;
  width: 90%;
  /* background-color: aqua; */
}
#div-inner h2{

  font-size: 1.3rem;
}