#expenses-container{

    width: 100%;
    height: 100%;
    /* background-color: rgb(255, 255, 255); */
    display: flex;
    flex-direction: column;
    align-items: center;
position: relative;

    #expenses-list{
flex-grow: 1;
        width: 100%;
        /* height: 70%; */
        /* background-color: rgb(155, 90, 90); */
display: flex;
flex-wrap: wrap;
/* flex-direction: column; */
align-items: center;
justify-content: center;
overflow-x: scroll;
gap: 20px;


    }
}
#filter-pop-up{

    /* position: absolute;
    top: 10;
    left: 10; */
    background-color: aqua;
}